/*supersized*/
ul#demo-block {
  margin: 0 15px 15px 15px; }
  ul#demo-block li {
    margin: 0 0 10px 0;
    padding: 10px;
    display: inline;
    float: left;
    clear: both;
    color: #aaa;
    background: url("img/bg-black.png");
    font: 11px Helvetica, Arial, sans-serif; }
    ul#demo-block li a {
      color: #eee;
      font-weight: bold; }

#home-first {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%; }
  #home-first h2 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#home-second {
  position: relative;
  z-index: 2;
  /* sets it above .slide1  */
  margin-top: 100%;
  /* this pushes it below .slide1 in the scroll */
  width: 100%;
  background: #6FCBD5; }
